/PruebaScala/bin
/PruebaScala/target
/PruebaScala/.classpath
/PruebaScala/.project
/PruebaScala/.cache
/PruebaScala/.worksheet/bin/
/assigment week 1/recfun/.project
/assigment week 1/recfun/.settings
/assigment week 1/recfun/submission
/assigment week 1/recfun/target
/assigment week 1/recfun/.cache
/assigment week 1/recfun/.classpath
/assigment week 0/example/.project
/assigment week 0/example/.settings
/assigment week 0/example/bin
/assigment week 0/example/submission
/assigment week 0/example/target
/assigment week 0/example/project/target
/assigment week 0/example/project/project/target
/assigment week 0/example/.cache
/assigment week 0/example/.classpath

assigment week 0/example/project/project/target/streams/$global/update/$global/out
assigment week 0/example/project/target/scala-2.9.2/sbt-0.12/classes/GradingFeedback$.class
assigment week 0/example/project/target/scala-2.9.2/sbt-0.12/classes/ProgFunBuild$$anonfun$createHandoutSetting$1$$anonfun$apply$11.class
assigment week 0/example/project/target/scala-2.9.2/sbt-0.12/classes/ProgFunBuild$$anonfun$gradeProjectDetailsSetting$1.class
assigment week 0/example/project/target/scala-2.9.2/sbt-0.12/classes/ProgFunBuild$$anonfun$submitSetting$1$$anonfun$apply$1.class
assigment week 0/example/project/target/scala-2.9.2/sbt-0.12/classes/ScalaTestRunner$LimitedStringBuffer.class
assigment week 0/example/project/target/streams/$global/update/$global/out
assigment week 0/example/project/target/streams/compile/compile/$global/out
