/PruebaScala/bin
/PruebaScala/.classpath
/PruebaScala/.project
/PruebaScala/.cache
/assigment week 1/recfun/.project
/assigment week 1/recfun/.settings
/assigment week 1/recfun/submission
/assigment week 1/recfun/target
/assigment week 1/recfun/.cache
/assigment week 1/recfun/.classpath
