/PruebaScala/bin
/PruebaScala/.classpath
/PruebaScala/.project
/PruebaScala/.cache
/assigment week 1/recfun/.project
/assigment week 1/recfun/.settings
/assigment week 1/recfun/submission
/assigment week 1/recfun/target
/assigment week 1/recfun/.cache
/assigment week 1/recfun/.classpath
/assigment week 0/example/.project
/assigment week 0/example/.settings
/assigment week 0/example/bin
/assigment week 0/example/submission
/assigment week 0/example/target
/assigment week 0/example/.cache
/assigment week 0/example/.classpath
